table {
  border: 1px solid black;

}
td{
	padding:1px;
	border: 1px solid rgb(0, 0, 0)!important;
}
#table-1 {
  margin: 40px 0;
}
#table-1 td,
#table-1 tr,
#table-1 table {
  border: 1px solid black;
  border-collapse: collapse;
	padding:1px;
}
#t11 {
  text-align: left;
	padding:1px;
}
.center {
  text-align: center;
	padding:1px;
}
.right {
  text-align: right;
	padding:1px;
}
#table-2 {
  margin: 40px 0;
}
#table-2 td {
/*   padding: 8px; */
	padding:1px;
}
#table-2 table,
#table-2 td,
#table-2 tr {
  border: 1px solid black;
	padding:1px;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
#table-3 table,
#table-3 td,
#table-3 tr {
  border: 1px solid black;
	padding:1px;
}
#table-3 td {
  
	padding:1px;
}
